In [122]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import os
import psycopg2
import datetime
import csv
import sqlalchemy
import random
from sqlalchemy import create_engine
from airflow.providers.postgres.hooks.postgres import PostgresHook
from ..dags.first_etl import get_team_info

ImportError: attempted relative import with no known parent package

In [61]:
PROCESSED_DATA_PATH = f'/Users/danielcollins/airflow/processed_data.csv'
NHL_API_PATH = 'https://statsapi.web.nhl.com/api/v1/'

In [84]:
pg_hook = PostgresHook(postgres_conn_id='postgres_hockey')
records = pg_hook.get_records(sql='SELECT id from team')

[2021-12-05 00:24:35,843] {base.py:70} INFO - Using connection to: id: postgres_hockey. Host: localhost, Port: 5432, Schema: hockey, Login: airflow_user, Password: airflow_pass, extra: {}

In [117]:
list(zip(*records))

[(1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  28,
  29,
  30,
  52,
  53,
  54,
  55)]

In [103]:
type(records[0][0])
test = [element for tupl in records for element in tupl]

test

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 30,
 52,
 53,
 54,
 55]

In [ ]:
type(records[0])

tuple

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hockey', echo=True)

In [ ]:
r = requests.get(NHL_API_PATH + 'teans')

In [ ]:
r = requests.get(NHL_API_PATH + 'teams')
res = r.json()
team_data = res['teams']
df = pd.json_normalize(team_data, sep='_')
# df.to_sql(name='teams', con=engine, if_exists='replace', index=False)

In [ ]:
r = requests.get(NHL_API_PATH + 'rosters')

In [ ]:
# df = pd.json_normalize(team_data[0], sep='_').to_dict(orient='records')
# df = pd.json_normalize(team_data, sep='_').to_json(f'/Users/danielcollins/airflow/team_data.json', orient='records')
df = pd.json_normalize(team_data, sep='_')

In [ ]:
df

,id,name,link,abbreviation,teamName,locationName,firstYearOfPlay,shortName,officialSiteUrl,franchiseId,...,division_name,division_nameShort,division_link,division_abbreviation,conference_id,conference_name,conference_link,franchise_franchiseId,franchise_teamName,franchise_link
0,1,New Jersey Devils,/api/v1/teams/1,NJD,Devils,New Jersey,1982,New Jersey,http://www.newjerseydevils.com/,23,...,Metropolitan,Metro,/api/v1/divisions/18,M,6,Eastern,/api/v1/conferences/6,23,Devils,/api/v1/franchises/23

In [ ]:
df.to_sql(name='truck', con=engine, if_exists='replace', index=False)

2021-12-04 23:23:15,267 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-04 23:23:15,268 INFO sqlalchemy.engine.Engine [cached since 3516s ago] {'name': 'truck'}
2021-12-04 23:23:15,276 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-04 23:23:15,277 INFO sqlalchemy.engine.Engine [cached since 3516s ago] {'name': 'truck'}
2021-12-04 23:23:15,283 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-12-04 23:23:15,283 INFO sqlalchemy.engine.Engine [generated in 0.00108s] {'schema': 'public'}
2021-12-04 23:23:15,291 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2021-12-04 23:23:15,292 INFO sqlalchemy.engine.Engine [generated in 0.00133s] {'table_name': 'truck'}
2021-12-04 23:23:15,300 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2021-12-04 23:23:15,301 INFO sqlalchemy.engine.Engine [generated in 0.00194s] {'table_oid': 25387}
2021-12-04 23:23:15,329 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2021-12-04 23:23:15,330 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2021-12-04 23:23:15,340 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2021-12-04 23:23:15,341 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2021-12-04 23:23:15,361 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2021-12-04 23:23:15,361 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {'table_oid': 25387}
2021-12-04 23:23:15,369 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2021-12-04 23:23:15,370 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {'table_oid': 25387}
2021-12-04 23:23:15,383 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2021-12-04 23:23:15,384 INFO sqlalchemy.engine.Engine [generated in 0.00091s] {'table': 25387}
2021-12-04 23:23:15,389 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2021-12-04 23:23:15,390 INFO sqlalchemy.engine.Engine [generated in 0.00118s] {'table_oid': 25387}
2021-12-04 23:23:15,408 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2021-12-04 23:23:15,409 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {'table_oid': 25387}
2021-12-04 23:23:15,412 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2021-12-04 23:23:15,413 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {'table_oid': 25387}
2021-12-04 23:23:15,415 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2021-12-04 23:23:15,417 INFO sqlalchemy.engine.Engine [generated in 0.00190s] {'table_oid': 25387}
2021-12-04 23:23:15,420 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:23:15,421 INFO sqlalchemy.engine.Engine
DROP TABLE truck
2021-12-04 23:23:15,421 INFO sqlalchemy.engine.Engine [no key 0.00038s] {}
2021-12-04 23:23:15,428 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:23:15,433 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:23:15,436 INFO sqlalchemy.engine.Engine
CREATE TABLE truck (
	id BIGINT,
	name TEXT,
	link TEXT,
	abbreviation TEXT,
	"teamName" TEXT,
	"locationName" TEXT,
	"firstYearOfPlay" TEXT,
	"shortName" TEXT,
	"officialSiteUrl" TEXT,
	"franchiseId" BIGINT,
	active BOOLEAN,
	venue_name TEXT,
	venue_link TEXT,
	venue_city TEXT,
	"venue_timeZone_id" TEXT,
	"venue_timeZone_offset" BIGINT,
	"venue_timeZone_tz" TEXT,
	division_id BIGINT,
	division_name TEXT,
	"division_nameShort" TEXT,
	division_link TEXT,
	division_abbreviation TEXT,
	conference_id BIGINT,
	conference_name TEXT,
	conference_link TEXT,
	"franchise_franchiseId" BIGINT,
	"franchise_teamName" TEXT,
	franchise_link TEXT,
	venue_id FLOAT(53)
)


2021-12-04 23:23:15,437 INFO sqlalchemy.engine.Engine [no key 0.00099s] {}
2021-12-04 23:23:15,446 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:23:15,456 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:23:15,458 INFO sqlalchemy.engine.Engine INSERT INTO truck (id, name, link, abbreviation, "teamName", "locationName", "firstYearOfPlay", "shortName", "officialSiteUrl", "franchiseId", active, venue_name, venue_link, venue_city, "venue_timeZone_id", "venue_timeZone_offset", "venue_timeZone_tz", division_id, division_name, "division_nameShort", division_link, division_abbreviation, conference_id, conference_name, conference_link, "franchise_franchiseId", "franchise_teamName", franchise_link, venue_id) VALUES (%(id)s, %(name)s, %(link)s, %(abbreviation)s, %(teamName)s, %(locationName)s, %(firstYearOfPlay)s, %(shortName)s, %(officialSiteUrl)s, %(franchiseId)s, %(active)s, %(venue_name)s, %(venue_link)s, %(venue_city)s, %(venue_timeZone_id)s, %(venue_timeZone_offset)s, %(venue_timeZone_tz)s, %(division_id)s, %(division_name)s, %(division_nameShort)s, %(division_link)s, %(division_abbreviation)s, %(conference_id)s, %(conference_name)s, %(conference_link)s, %(franchise_franchiseId)s, %(franchise_teamName)s, %(franchise_link)s, %(venue_id)s)
2021-12-04 23:23:15,459 INFO sqlalchemy.engine.Engine [generated in 0.00117s] ({'id': 1, 'name': 'New Jersey Devils', 'link': '/api/v1/teams/1', 'abbreviation': 'NJD', 'teamName': 'Devils', 'locationName': 'New Jersey', 'firstYearOfPlay': '1982', 'shortName': 'New Jersey', 'officialSiteUrl': 'http://www.newjerseydevils.com/', 'franchiseId': 23, 'active': True, 'venue_name': 'Prudential Center', 'venue_link': '/api/v1/venues/null', 'venue_city': 'Newark', 'venue_timeZone_id': 'America/New_York', 'venue_timeZone_offset': -5, 'venue_timeZone_tz': 'EST', 'division_id': 18, 'division_name': 'Metropolitan', 'division_nameShort': 'Metro', 'division_link': '/api/v1/divisions/18', 'division_abbreviation': 'M', 'conference_id': 6, 'conference_name': 'Eastern', 'conference_link': '/api/v1/conferences/6', 'franchise_franchiseId': 23, 'franchise_teamName': 'Devils', 'franchise_link': '/api/v1/franchises/23', 'venue_id': None}, {'id': 2, 'name': 'New York Islanders', 'link': '/api/v1/teams/2', 'abbreviation': 'NYI', 'teamName': 'Islanders', 'locationName': 'New York', 'firstYearOfPlay': '1972', 'shortName': 'NY Islanders', 'officialSiteUrl': 'http://www.newyorkislanders.com/', 'franchiseId': 22, 'active': True, 'venue_name': 'UBS Arena', 'venue_link': '/api/v1/venues/null', 'venue_city': 'Elmont', 'venue_timeZone_id': 'America/New_York', 'venue_timeZone_offset': -5, 'venue_timeZone_tz': 'EST', 'division_id': 18, 'division_name': 'Metropolitan', 'division_nameShort': 'Metro', 'division_link': '/api/v1/divisions/18', 'division_abbreviation': 'M', 'conference_id': 6, 'conference_name': 'Eastern', 'conference_link': '/api/v1/conferences/6', 'franchise_franchiseId': 22, 'franchise_teamName': 'Islanders', 'franchise_link': '/api/v1/franchises/22', 'venue_id': None}, {'id': 3, 'name': 'New York Rangers', 'link': '/api/v1/teams/3', 'abbreviation': 'NYR', 'teamName': 'Rangers', 'locationName': 'New York', 'firstYearOfPlay': '1926', 'shortName': 'NY Rangers', 'officialSiteUrl': 'http://www.newyorkrangers.com/', 'franchiseId': 10, 'active': True, 'venue_name': 'Madison Square Garden', 'venue_link': '/api/v1/venues/5054', 'venue_city': 'New York', 'venue_timeZone_id': 'America/New_York', 'venue_timeZone_offset': -5, 'venue_timeZone_tz': 'EST', 'division_id': 18, 'division_name': 'Metropolitan', 'division_nameShort': 'Metro', 'division_link': '/api/v1/divisions/18', 'division_abbreviation': 'M', 'conference_id': 6, 'conference_name': 'Eastern', 'conference_link': '/api/v1/conferences/6', 'franchise_franchiseId': 10, 'franchise_teamName': 'Rangers', 'franchise_link': '/api/v1/franchises/10', 'venue_id': 5054.0}, {'id': 4, 'name': 'Philadelphia Flyers', 'link': '/api/v1/teams/4', 'abbreviation': 'PHI', 'teamName': 'Flyers', 'locationName': 'Philadelphia', 'firstYearOfPlay': '1967', 'shortName': 'Philadelphia', 'officialSiteUrl': 'http://www.philadelphiaflyers.com/', 'franchiseId': 16, 'active': True, 'venue_name': 'Wells Fargo Center', 'venue_link': '/api/v1/venues/5096', 'venue_city': 'Philadelphia', 'venue_timeZone_id': 'America/New_York', 'venue_timeZone_offset': -5, 'venue_timeZone_tz': 'EST', 'division_id': 18, 'division_name': 'Metropolitan', 'division_nameShort': 'Metro', 'division_link': '/api/v1/divisions/18', 'division_abbreviation': 'M', 'conference_id': 6, 'conference_name': 'Eastern', 'conference_link': '/api/v1/conferences/6', 'franchise_franchiseId': 16, 'franchise_teamName': 'Flyers', 'franchise_link': '/api/v1/franchises/16', 'venue_id': 5096.0}, {'id': 5, 'name': 'Pittsburgh Penguins', 'link': '/api/v1/teams/5', 'abbreviation': 'PIT', 'teamName': 'Penguins', 'locationName': 'Pittsburgh', 'firstYearOfPlay': '1967', 'shortName': 'Pittsburgh', 'officialSiteUrl': 'http://pittsburghpenguins.com/', 'franchiseId': 17, 'active': True, 'venue_name': 'PPG Paints Arena', 'venue_link': '/api/v1/venues/5034', 'venue_city': 'Pittsburgh', 'venue_timeZone_id': 'America/New_York', 'venue_timeZone_offset': -5, 'venue_timeZone_tz': 'EST', 'division_id': 18, 'division_name': 'Metropolitan', 'division_nameShort': 'Metro', 'division_link': '/api/v1/divisions/18', 'division_abbreviation': 'M', 'conference_id': 6, 'conference_name': 'Eastern', 'conference_link': '/api/v1/conferences/6', 'franchise_franchiseId': 17, 'franchise_teamName': 'Penguins', 'franchise_link': '/api/v1/franchises/17', 'venue_id': 5034.0}, {'id': 6, 'name': 'Boston Bruins', 'link': '/api/v1/teams/6', 'abbreviation': 'BOS', 'teamName': 'Bruins', 'locationName': 'Boston', 'firstYearOfPlay': '1924', 'shortName': 'Boston', 'officialSiteUrl': 'http://www.bostonbruins.com/', 'franchiseId': 6, 'active': True, 'venue_name': 'TD Garden', 'venue_link': '/api/v1/venues/5085', 'venue_city': 'Boston', 'venue_timeZone_id': 'America/New_York', 'venue_timeZone_offset': -5, 'venue_timeZone_tz': 'EST', 'division_id': 17, 'division_name': 'Atlantic', 'division_nameShort': 'ATL', 'division_link': '/api/v1/divisions/17', 'division_abbreviation': 'A', 'conference_id': 6, 'conference_name': 'Eastern', 'conference_link': '/api/v1/conferences/6', 'franchise_franchiseId': 6, 'franchise_teamName': 'Bruins', 'franchise_link': '/api/v1/franchises/6', 'venue_id': 5085.0}, {'id': 7, 'name': 'Buffalo Sabres', 'link': '/api/v1/teams/7', 'abbreviation': 'BUF', 'teamName': 'Sabres', 'locationName': 'Buffalo', 'firstYearOfPlay': '1970', 'shortName': 'Buffalo', 'officialSiteUrl': 'http://www.sabres.com/', 'franchiseId': 19, 'active': True, 'venue_name': 'KeyBank Center', 'venue_link': '/api/v1/venues/5039', 'venue_city': 'Buffalo', 'venue_timeZone_id': 'America/New_York', 'venue_timeZone_offset': -5, 'venue_timeZone_tz': 'EST', 'division_id': 17, 'division_name': 'Atlantic', 'division_nameShort': 'ATL', 'division_link': '/api/v1/divisions/17', 'division_abbreviation': 'A', 'conference_id': 6, 'conference_name': 'Eastern', 'conference_link': '/api/v1/conferences/6', 'franchise_franchiseId': 19, 'franchise_teamName': 'Sabres', 'franchise_link': '/api/v1/franchises/19', 'venue_id': 5039.0}, {'id': 8, 'name': 'Montréal Canadiens', 'link': '/api/v1/teams/8', 'abbreviation': 'MTL', 'teamName': 'Canadiens', 'locationName': 'Montréal', 'firstYearOfPlay': '1909', 'shortName': 'Montréal', 'officialSiteUrl': 'http://www.canadiens.com/', 'franchiseId': 1, 'active': True, 'venue_name': 'Bell Centre', 'venue_link': '/api/v1/venues/5028', 'venue_city': 'Montréal', 'venue_timeZone_id': 'America/Montreal', 'venue_timeZone_offset': -5, 'venue_timeZone_tz': 'EST', 'division_id': 17, 'division_name': 'Atlantic', 'division_nameShort': 'ATL', 'division_link': '/api/v1/divisions/17', 'division_abbreviation': 'A', 'conference_id': 6, 'conference_name': 'Eastern', 'conference_link': '/api/v1/conferences/6', 'franchise_franchiseId': 1, 'franchise_teamName': 'Canadiens', 'franchise_link': '/api/v1/franchises/1', 'venue_id': 5028.0}  ... displaying 10 of 32 total bound parameter sets ...  {'id': 54, 'name': 'Vegas Golden Knights', 'link': '/api/v1/teams/54', 'abbreviation': 'VGK', 'teamName': 'Golden Knights', 'locationName': 'Vegas', 'firstYearOfPlay': '2016', 'shortName': 'Vegas', 'officialSiteUrl': 'http://www.vegasgoldenknights.com/', 'franchiseId': 38, 'active': True, 'venue_name': 'T-Mobile Arena', 'venue_link': '/api/v1/venues/5178', 'venue_city': 'Las Vegas', 'venue_timeZone_id': 'America/Los_Angeles', 'venue_timeZone_offset': -8, 'venue_timeZone_tz': 'PST', 'division_id': 15, 'division_name': 'Pacific', 'division_nameShort': 'PAC', 'division_link': '/api/v1/divisions/15', 'division_abbreviation': 'P', 'conference_id': 5, 'conference_name': 'Western', 'conference_link': '/api/v1/conferences/5', 'franchise_franchiseId': 38, 'franchise_teamName': 'Golden Knights', 'franchise_link': '/api/v1/franchises/38', 'venue_id': 5178.0}, {'id': 55, 'name': 'Seattle Kraken', 'link': '/api/v1/teams/55', 'abbreviation': 'SEA', 'teamName': 'Kraken', 'locationName': 'Seattle', 'firstYearOfPlay': '2021', 'shortName': 'Seattle', 'officialSiteUrl': 'https://www.nhl.com/seattle', 'franchiseId': 39, 'active': True, 'venue_name': 'Climate Pledge Arena', 'venue_link': '/api/v1/venues/null', 'venue_city': 'Seattle', 'venue_timeZone_id': 'America/Los_Angeles', 'venue_timeZone_offset': -8, 'venue_timeZone_tz': 'PST', 'division_id': 15, 'division_name': 'Pacific', 'division_nameShort': 'PAC', 'division_link': '/api/v1/divisions/15', 'division_abbreviation': 'P', 'conference_id': 5, 'conference_name': 'Western', 'conference_link': '/api/v1/conferences/5', 'franchise_franchiseId': 39, 'franchise_teamName': 'Kraken', 'franchise_link': '/api/v1/franchises/39', 'venue_id': None})
2021-12-04 23:23:15,492 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
df.head()

,id,name,link,abbreviation,teamName,locationName,firstYearOfPlay,shortName,officialSiteUrl,franchiseId,...,division_name,division_nameShort,division_link,division_abbreviation,conference_id,conference_name,conference_link,franchise_franchiseId,franchise_teamName,franchise_link
0,1,New Jersey Devils,/api/v1/teams/1,NJD,Devils,New Jersey,1982,New Jersey,http://www.newjerseydevils.com/,23,...,Metropolitan,Metro,/api/v1/divisions/18,M,6,Eastern,/api/v1/conferences/6,23,Devils,/api/v1/franchises/23

In [ ]:
df.to_sql('team', )

TypeError: to_sql() missing 1 required positional argument: 'con'

In [ ]:
df.to_dict(orient='records')

[{'id': 1,
  'name': 'New Jersey Devils',
  'link': '/api/v1/teams/1',
  'abbreviation': 'NJD',
  'teamName': 'Devils',
  'locationName': 'New Jersey',
  'firstYearOfPlay': '1982',
  'shortName': 'New Jersey',
  'officialSiteUrl': 'http://www.newjerseydevils.com/',
  'franchiseId': 23,
  'active': True,
  'venue_name': 'Prudential Center',
  'venue_link': '/api/v1/venues/null',
  'venue_city': 'Newark',
  'venue_timeZone_id': 'America/New_York',
  'venue_timeZone_offset': -5,
  'venue_timeZone_tz': 'EST',
  'division_id': 18,
  'division_name': 'Metropolitan',
  'division_nameShort': 'Metro',
  'division_link': '/api/v1/divisions/18',
  'division_abbreviation': 'M',
  'conference_id': 6,
  'conference_name': 'Eastern',
  'conference_link': '/api/v1/conferences/6',
  'franchise_franchiseId': 23,
  'franchise_teamName': 'Devils',
  'franchise_link': '/api/v1/franchises/23'}]

In [ ]:
conn = psycopg2.connect(database="hockey", user="postgres", password="postgres", host="localhost", port="5432")
cur = conn.cursor()

In [ ]:
with open(PROCESSED_DATA_PATH) as f:
    next(f)
    try:
        cur.copy_from(f, 'time_airflow', sep=',')
    except InFailedSqlTransaction as e:
        print(e)
    except Exception as e:
        print('young thuug')
        print(e)
        pass

NameError: name 'InFailedSqlTransaction' is not defined

In [ ]:
conn = engine.connect()

In [ ]:
res = conn.execute("""
SELECT DISTINCT ID FROM teams
""")

2021-12-04 23:32:42,022 INFO sqlalchemy.engine.Engine
SELECT DISTINCT ID FROM teams

2021-12-04 23:32:42,023 INFO sqlalchemy.engine.Engine [raw sql] {}

In [ ]:
res.fetchall()

[(1,)]

In [ ]:
cur.get_dsn_parameters()

AttributeError: 'psycopg2.extensions.cursor' object has no attribute 'get_dsn_parameters'

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hockey', echo=True)

# df.to_sql('time_poos', engine, if_exists='append', index=False)

In [ ]:
engine

Engine(postgresql://postgres:***@localhost:5432/hockey)

In [ ]:
engine.execute('SELECT version()').fetchall()

[('PostgreSQL 13.4 on x86_64-apple-darwin19.6.0, compiled by Apple clang version 11.0.3 (clang-1103.0.32.62), 64-bit',)]

In [ ]:
df.to_json()

'{"time":{"0":1638229893215},"id":{"0":8205}}'

In [ ]:
dir(engine)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_connection_cls',
 '_contextual_connect',
 '_echo',
 '_execute_clauseelement',
 '_execute_compiled',
 '_execute_default',
 '_execution_options',
 '_has_events',
 '_optional_conn_ctx_manager',
 '_run_visitor',
 '_should_log_debug',
 '_should_log_info',
 '_trans_ctx',
 '_wrap_pool_connect',
 'begin',
 'connect',
 'contextual_connect',
 'create',
 'dialect',
 'dispatch',
 'dispose',
 'driver',
 'drop',
 'echo',
 'engine',
 'execute',
 'execution_options',
 'get_execution_options',
 'has_table',
 'hide_parameters',
 'logger',
 'logging_name',
 'name',
 'pool',
 'raw_connection',
 'run_callable',
 'scalar',
 'schema_for_object',
 'table_names',
 'transaction',
 'update_execution_options',
 'url']

In [ ]:
print('transform_poopoo')
data = {}
time = datetime.datetime.now()
data['time'] = time
data['id'] = int(random.random()*10000)
data
df = pd.DataFrame([data])
# df = pd.DataFrame(data, index=data['id'])
df.to_csv(f'{os.getcwd()}/data_lol.csv',index=False, mode='a')

transform_poopoo

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hockey')

df.to_sql('time_poos', engine, if_exists='append', index=False)x

In [ ]:
NHL_API = 'https://statsapi.web.nhl.com/api/v1/'

In [ ]:
r = requests.get(f'{NHL_API}/teams')
data = r.json()
teams = data['teams']

In [ ]:
teams

[{'id': 1,
  'name': 'New Jersey Devils',
  'link': '/api/v1/teams/1',
  'venue': {'name': 'Prudential Center',
   'link': '/api/v1/venues/null',
   'city': 'Newark',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'NJD',
  'teamName': 'Devils',
  'locationName': 'New Jersey',
  'firstYearOfPlay': '1982',
  'division': {'id': 18,
   'name': 'Metropolitan',
   'nameShort': 'Metro',
   'link': '/api/v1/divisions/18',
   'abbreviation': 'M'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 23,
   'teamName': 'Devils',
   'link': '/api/v1/franchises/23'},
  'shortName': 'New Jersey',
  'officialSiteUrl': 'http://www.newjerseydevils.com/',
  'franchiseId': 23,
  'active': True},
 {'id': 2,
  'name': 'New York Islanders',
  'link': '/api/v1/teams/2',
  'venue': {'name': 'UBS Arena',
   'link': '/api/v1/venues/null',
   'city': 'Elmont',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'NYI',
  'teamName': 'Islanders',
  'locationName': 'New York',
  'firstYearOfPlay': '1972',
  'division': {'id': 18,
   'name': 'Metropolitan',
   'nameShort': 'Metro',
   'link': '/api/v1/divisions/18',
   'abbreviation': 'M'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 22,
   'teamName': 'Islanders',
   'link': '/api/v1/franchises/22'},
  'shortName': 'NY Islanders',
  'officialSiteUrl': 'http://www.newyorkislanders.com/',
  'franchiseId': 22,
  'active': True},
 {'id': 3,
  'name': 'New York Rangers',
  'link': '/api/v1/teams/3',
  'venue': {'id': 5054,
   'name': 'Madison Square Garden',
   'link': '/api/v1/venues/5054',
   'city': 'New York',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'NYR',
  'teamName': 'Rangers',
  'locationName': 'New York',
  'firstYearOfPlay': '1926',
  'division': {'id': 18,
   'name': 'Metropolitan',
   'nameShort': 'Metro',
   'link': '/api/v1/divisions/18',
   'abbreviation': 'M'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 10,
   'teamName': 'Rangers',
   'link': '/api/v1/franchises/10'},
  'shortName': 'NY Rangers',
  'officialSiteUrl': 'http://www.newyorkrangers.com/',
  'franchiseId': 10,
  'active': True},
 {'id': 4,
  'name': 'Philadelphia Flyers',
  'link': '/api/v1/teams/4',
  'venue': {'id': 5096,
   'name': 'Wells Fargo Center',
   'link': '/api/v1/venues/5096',
   'city': 'Philadelphia',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'PHI',
  'teamName': 'Flyers',
  'locationName': 'Philadelphia',
  'firstYearOfPlay': '1967',
  'division': {'id': 18,
   'name': 'Metropolitan',
   'nameShort': 'Metro',
   'link': '/api/v1/divisions/18',
   'abbreviation': 'M'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 16,
   'teamName': 'Flyers',
   'link': '/api/v1/franchises/16'},
  'shortName': 'Philadelphia',
  'officialSiteUrl': 'http://www.philadelphiaflyers.com/',
  'franchiseId': 16,
  'active': True},
 {'id': 5,
  'name': 'Pittsburgh Penguins',
  'link': '/api/v1/teams/5',
  'venue': {'id': 5034,
   'name': 'PPG Paints Arena',
   'link': '/api/v1/venues/5034',
   'city': 'Pittsburgh',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'PIT',
  'teamName': 'Penguins',
  'locationName': 'Pittsburgh',
  'firstYearOfPlay': '1967',
  'division': {'id': 18,
   'name': 'Metropolitan',
   'nameShort': 'Metro',
   'link': '/api/v1/divisions/18',
   'abbreviation': 'M'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 17,
   'teamName': 'Penguins',
   'link': '/api/v1/franchises/17'},
  'shortName': 'Pittsburgh',
  'officialSiteUrl': 'http://pittsburghpenguins.com/',
  'franchiseId': 17,
  'active': True},
 {'id': 6,
  'name': 'Boston Bruins',
  'link': '/api/v1/teams/6',
  'venue': {'id': 5085,
   'name': 'TD Garden',
   'link': '/api/v1/venues/5085',
   'city': 'Boston',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'BOS',
  'teamName': 'Bruins',
  'locationName': 'Boston',
  'firstYearOfPlay': '1924',
  'division': {'id': 17,
   'name': 'Atlantic',
   'nameShort': 'ATL',
   'link': '/api/v1/divisions/17',
   'abbreviation': 'A'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 6,
   'teamName': 'Bruins',
   'link': '/api/v1/franchises/6'},
  'shortName': 'Boston',
  'officialSiteUrl': 'http://www.bostonbruins.com/',
  'franchiseId': 6,
  'active': True},
 {'id': 7,
  'name': 'Buffalo Sabres',
  'link': '/api/v1/teams/7',
  'venue': {'id': 5039,
   'name': 'KeyBank Center',
   'link': '/api/v1/venues/5039',
   'city': 'Buffalo',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'BUF',
  'teamName': 'Sabres',
  'locationName': 'Buffalo',
  'firstYearOfPlay': '1970',
  'division': {'id': 17,
   'name': 'Atlantic',
   'nameShort': 'ATL',
   'link': '/api/v1/divisions/17',
   'abbreviation': 'A'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 19,
   'teamName': 'Sabres',
   'link': '/api/v1/franchises/19'},
  'shortName': 'Buffalo',
  'officialSiteUrl': 'http://www.sabres.com/',
  'franchiseId': 19,
  'active': True},
 {'id': 8,
  'name': 'Montréal Canadiens',
  'link': '/api/v1/teams/8',
  'venue': {'id': 5028,
   'name': 'Bell Centre',
   'link': '/api/v1/venues/5028',
   'city': 'Montréal',
   'timeZone': {'id': 'America/Montreal', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'MTL',
  'teamName': 'Canadiens',
  'locationName': 'Montréal',
  'firstYearOfPlay': '1909',
  'division': {'id': 17,
   'name': 'Atlantic',
   'nameShort': 'ATL',
   'link': '/api/v1/divisions/17',
   'abbreviation': 'A'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 1,
   'teamName': 'Canadiens',
   'link': '/api/v1/franchises/1'},
  'shortName': 'Montréal',
  'officialSiteUrl': 'http://www.canadiens.com/',
  'franchiseId': 1,
  'active': True},
 {'id': 9,
  'name': 'Ottawa Senators',
  'link': '/api/v1/teams/9',
  'venue': {'id': 5031,
   'name': 'Canadian Tire Centre',
   'link': '/api/v1/venues/5031',
   'city': 'Ottawa',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'OTT',
  'teamName': 'Senators',
  'locationName': 'Ottawa',
  'firstYearOfPlay': '1990',
  'division': {'id': 17,
   'name': 'Atlantic',
   'nameShort': 'ATL',
   'link': '/api/v1/divisions/17',
   'abbreviation': 'A'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 30,
   'teamName': 'Senators',
   'link': '/api/v1/franchises/30'},
  'shortName': 'Ottawa',
  'officialSiteUrl': 'http://www.ottawasenators.com/',
  'franchiseId': 30,
  'active': True},
 {'id': 10,
  'name': 'Toronto Maple Leafs',
  'link': '/api/v1/teams/10',
  'venue': {'name': 'Scotiabank Arena',
   'link': '/api/v1/venues/null',
   'city': 'Toronto',
   'timeZone': {'id': 'America/Toronto', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'TOR',
  'teamName': 'Maple Leafs',
  'locationName': 'Toronto',
  'firstYearOfPlay': '1917',
  'division': {'id': 17,
   'name': 'Atlantic',
   'nameShort': 'ATL',
   'link': '/api/v1/divisions/17',
   'abbreviation': 'A'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 5,
   'teamName': 'Maple Leafs',
   'link': '/api/v1/franchises/5'},
  'shortName': 'Toronto',
  'officialSiteUrl': 'http://www.mapleleafs.com/',
  'franchiseId': 5,
  'active': True},
 {'id': 12,
  'name': 'Carolina Hurricanes',
  'link': '/api/v1/teams/12',
  'venue': {'id': 5066,
   'name': 'PNC Arena',
   'link': '/api/v1/venues/5066',
   'city': 'Raleigh',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'CAR',
  'teamName': 'Hurricanes',
  'locationName': 'Carolina',
  'firstYearOfPlay': '1979',
  'division': {'id': 18,
   'name': 'Metropolitan',
   'nameShort': 'Metro',
   'link': '/api/v1/divisions/18',
   'abbreviation': 'M'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 26,
   'teamName': 'Hurricanes',
   'link': '/api/v1/franchises/26'},
  'shortName': 'Carolina',
  'officialSiteUrl': 'http://www.carolinahurricanes.com/',
  'franchiseId': 26,
  'active': True},
 {'id': 13,
  'name': 'Florida Panthers',
  'link': '/api/v1/teams/13',
  'venue': {'id': 5027,
   'name': 'FLA Live Arena',
   'link': '/api/v1/venues/5027',
   'city': 'Sunrise',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'FLA',
  'teamName': 'Panthers',
  'locationName': 'Florida',
  'firstYearOfPlay': '1993',
  'division': {'id': 17,
   'name': 'Atlantic',
   'nameShort': 'ATL',
   'link': '/api/v1/divisions/17',
   'abbreviation': 'A'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 33,
   'teamName': 'Panthers',
   'link': '/api/v1/franchises/33'},
  'shortName': 'Florida',
  'officialSiteUrl': 'http://www.floridapanthers.com/',
  'franchiseId': 33,
  'active': True},
 {'id': 14,
  'name': 'Tampa Bay Lightning',
  'link': '/api/v1/teams/14',
  'venue': {'name': 'AMALIE Arena',
   'link': '/api/v1/venues/null',
   'city': 'Tampa',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'TBL',
  'teamName': 'Lightning',
  'locationName': 'Tampa Bay',
  'firstYearOfPlay': '1991',
  'division': {'id': 17,
   'name': 'Atlantic',
   'nameShort': 'ATL',
   'link': '/api/v1/divisions/17',
   'abbreviation': 'A'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 31,
   'teamName': 'Lightning',
   'link': '/api/v1/franchises/31'},
  'shortName': 'Tampa Bay',
  'officialSiteUrl': 'http://www.tampabaylightning.com/',
  'franchiseId': 31,
  'active': True},
 {'id': 15,
  'name': 'Washington Capitals',
  'link': '/api/v1/teams/15',
  'venue': {'id': 5094,
   'name': 'Capital One Arena',
   'link': '/api/v1/venues/5094',
   'city': 'Washington',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'WSH',
  'teamName': 'Capitals',
  'locationName': 'Washington',
  'firstYearOfPlay': '1974',
  'division': {'id': 18,
   'name': 'Metropolitan',
   'nameShort': 'Metro',
   'link': '/api/v1/divisions/18',
   'abbreviation': 'M'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 24,
   'teamName': 'Capitals',
   'link': '/api/v1/franchises/24'},
  'shortName': 'Washington',
  'officialSiteUrl': 'http://www.washingtoncapitals.com/',
  'franchiseId': 24,
  'active': True},
 {'id': 16,
  'name': 'Chicago Blackhawks',
  'link': '/api/v1/teams/16',
  'venue': {'id': 5092,
   'name': 'United Center',
   'link': '/api/v1/venues/5092',
   'city': 'Chicago',
   'timeZone': {'id': 'America/Chicago', 'offset': -6, 'tz': 'CST'}},
  'abbreviation': 'CHI',
  'teamName': 'Blackhawks',
  'locationName': 'Chicago',
  'firstYearOfPlay': '1926',
  'division': {'id': 16,
   'name': 'Central',
   'nameShort': 'CEN',
   'link': '/api/v1/divisions/16',
   'abbreviation': 'C'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 11,
   'teamName': 'Blackhawks',
   'link': '/api/v1/franchises/11'},
  'shortName': 'Chicago',
  'officialSiteUrl': 'http://www.chicagoblackhawks.com/',
  'franchiseId': 11,
  'active': True},
 {'id': 17,
  'name': 'Detroit Red Wings',
  'link': '/api/v1/teams/17',
  'venue': {'id': 5145,
   'name': 'Little Caesars Arena',
   'link': '/api/v1/venues/5145',
   'city': 'Detroit',
   'timeZone': {'id': 'America/Detroit', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'DET',
  'teamName': 'Red Wings',
  'locationName': 'Detroit',
  'firstYearOfPlay': '1926',
  'division': {'id': 17,
   'name': 'Atlantic',
   'nameShort': 'ATL',
   'link': '/api/v1/divisions/17',
   'abbreviation': 'A'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 12,
   'teamName': 'Red Wings',
   'link': '/api/v1/franchises/12'},
  'shortName': 'Detroit',
  'officialSiteUrl': 'http://www.detroitredwings.com/',
  'franchiseId': 12,
  'active': True},
 {'id': 18,
  'name': 'Nashville Predators',
  'link': '/api/v1/teams/18',
  'venue': {'id': 5030,
   'name': 'Bridgestone Arena',
   'link': '/api/v1/venues/5030',
   'city': 'Nashville',
   'timeZone': {'id': 'America/Chicago', 'offset': -6, 'tz': 'CST'}},
  'abbreviation': 'NSH',
  'teamName': 'Predators',
  'locationName': 'Nashville',
  'firstYearOfPlay': '1997',
  'division': {'id': 16,
   'name': 'Central',
   'nameShort': 'CEN',
   'link': '/api/v1/divisions/16',
   'abbreviation': 'C'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 34,
   'teamName': 'Predators',
   'link': '/api/v1/franchises/34'},
  'shortName': 'Nashville',
  'officialSiteUrl': 'http://www.nashvillepredators.com/',
  'franchiseId': 34,
  'active': True},
 {'id': 19,
  'name': 'St. Louis Blues',
  'link': '/api/v1/teams/19',
  'venue': {'id': 5076,
   'name': 'Enterprise Center',
   'link': '/api/v1/venues/5076',
   'city': 'St. Louis',
   'timeZone': {'id': 'America/Chicago', 'offset': -6, 'tz': 'CST'}},
  'abbreviation': 'STL',
  'teamName': 'Blues',
  'locationName': 'St. Louis',
  'firstYearOfPlay': '1967',
  'division': {'id': 16,
   'name': 'Central',
   'nameShort': 'CEN',
   'link': '/api/v1/divisions/16',
   'abbreviation': 'C'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 18,
   'teamName': 'Blues',
   'link': '/api/v1/franchises/18'},
  'shortName': 'St Louis',
  'officialSiteUrl': 'http://www.stlouisblues.com/',
  'franchiseId': 18,
  'active': True},
 {'id': 20,
  'name': 'Calgary Flames',
  'link': '/api/v1/teams/20',
  'venue': {'id': 5075,
   'name': 'Scotiabank Saddledome',
   'link': '/api/v1/venues/5075',
   'city': 'Calgary',
   'timeZone': {'id': 'America/Denver', 'offset': -7, 'tz': 'MST'}},
  'abbreviation': 'CGY',
  'teamName': 'Flames',
  'locationName': 'Calgary',
  'firstYearOfPlay': '1980',
  'division': {'id': 15,
   'name': 'Pacific',
   'nameShort': 'PAC',
   'link': '/api/v1/divisions/15',
   'abbreviation': 'P'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 21,
   'teamName': 'Flames',
   'link': '/api/v1/franchises/21'},
  'shortName': 'Calgary',
  'officialSiteUrl': 'http://www.calgaryflames.com/',
  'franchiseId': 21,
  'active': True},
 {'id': 21,
  'name': 'Colorado Avalanche',
  'link': '/api/v1/teams/21',
  'venue': {'id': 5064,
   'name': 'Ball Arena',
   'link': '/api/v1/venues/5064',
   'city': 'Denver',
   'timeZone': {'id': 'America/Denver', 'offset': -7, 'tz': 'MST'}},
  'abbreviation': 'COL',
  'teamName': 'Avalanche',
  'locationName': 'Colorado',
  'firstYearOfPlay': '1979',
  'division': {'id': 16,
   'name': 'Central',
   'nameShort': 'CEN',
   'link': '/api/v1/divisions/16',
   'abbreviation': 'C'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 27,
   'teamName': 'Avalanche',
   'link': '/api/v1/franchises/27'},
  'shortName': 'Colorado',
  'officialSiteUrl': 'http://www.coloradoavalanche.com/',
  'franchiseId': 27,
  'active': True},
 {'id': 22,
  'name': 'Edmonton Oilers',
  'link': '/api/v1/teams/22',
  'venue': {'id': 5100,
   'name': 'Rogers Place',
   'link': '/api/v1/venues/5100',
   'city': 'Edmonton',
   'timeZone': {'id': 'America/Edmonton', 'offset': -7, 'tz': 'MST'}},
  'abbreviation': 'EDM',
  'teamName': 'Oilers',
  'locationName': 'Edmonton',
  'firstYearOfPlay': '1979',
  'division': {'id': 15,
   'name': 'Pacific',
   'nameShort': 'PAC',
   'link': '/api/v1/divisions/15',
   'abbreviation': 'P'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 25,
   'teamName': 'Oilers',
   'link': '/api/v1/franchises/25'},
  'shortName': 'Edmonton',
  'officialSiteUrl': 'http://www.edmontonoilers.com/',
  'franchiseId': 25,
  'active': True},
 {'id': 23,
  'name': 'Vancouver Canucks',
  'link': '/api/v1/teams/23',
  'venue': {'id': 5073,
   'name': 'Rogers Arena',
   'link': '/api/v1/venues/5073',
   'city': 'Vancouver',
   'timeZone': {'id': 'America/Vancouver', 'offset': -8, 'tz': 'PST'}},
  'abbreviation': 'VAN',
  'teamName': 'Canucks',
  'locationName': 'Vancouver',
  'firstYearOfPlay': '1970',
  'division': {'id': 15,
   'name': 'Pacific',
   'nameShort': 'PAC',
   'link': '/api/v1/divisions/15',
   'abbreviation': 'P'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 20,
   'teamName': 'Canucks',
   'link': '/api/v1/franchises/20'},
  'shortName': 'Vancouver',
  'officialSiteUrl': 'http://www.canucks.com/',
  'franchiseId': 20,
  'active': True},
 {'id': 24,
  'name': 'Anaheim Ducks',
  'link': '/api/v1/teams/24',
  'venue': {'id': 5046,
   'name': 'Honda Center',
   'link': '/api/v1/venues/5046',
   'city': 'Anaheim',
   'timeZone': {'id': 'America/Los_Angeles', 'offset': -8, 'tz': 'PST'}},
  'abbreviation': 'ANA',
  'teamName': 'Ducks',
  'locationName': 'Anaheim',
  'firstYearOfPlay': '1993',
  'division': {'id': 15,
   'name': 'Pacific',
   'nameShort': 'PAC',
   'link': '/api/v1/divisions/15',
   'abbreviation': 'P'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 32,
   'teamName': 'Ducks',
   'link': '/api/v1/franchises/32'},
  'shortName': 'Anaheim',
  'officialSiteUrl': 'http://www.anaheimducks.com/',
  'franchiseId': 32,
  'active': True},
 {'id': 25,
  'name': 'Dallas Stars',
  'link': '/api/v1/teams/25',
  'venue': {'id': 5019,
   'name': 'American Airlines Center',
   'link': '/api/v1/venues/5019',
   'city': 'Dallas',
   'timeZone': {'id': 'America/Chicago', 'offset': -6, 'tz': 'CST'}},
  'abbreviation': 'DAL',
  'teamName': 'Stars',
  'locationName': 'Dallas',
  'firstYearOfPlay': '1967',
  'division': {'id': 16,
   'name': 'Central',
   'nameShort': 'CEN',
   'link': '/api/v1/divisions/16',
   'abbreviation': 'C'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 15,
   'teamName': 'Stars',
   'link': '/api/v1/franchises/15'},
  'shortName': 'Dallas',
  'officialSiteUrl': 'http://www.dallasstars.com/',
  'franchiseId': 15,
  'active': True},
 {'id': 26,
  'name': 'Los Angeles Kings',
  'link': '/api/v1/teams/26',
  'venue': {'id': 5081,
   'name': 'STAPLES Center',
   'link': '/api/v1/venues/5081',
   'city': 'Los Angeles',
   'timeZone': {'id': 'America/Los_Angeles', 'offset': -8, 'tz': 'PST'}},
  'abbreviation': 'LAK',
  'teamName': 'Kings',
  'locationName': 'Los Angeles',
  'firstYearOfPlay': '1967',
  'division': {'id': 15,
   'name': 'Pacific',
   'nameShort': 'PAC',
   'link': '/api/v1/divisions/15',
   'abbreviation': 'P'},
  'conference': {'id': 5, 'name': 'Western', 'link': '/api/v1/conferences/5'},
  'franchise': {'franchiseId': 14,
   'teamName': 'Kings',
   'link': '/api/v1/franchises/14'},
  'shortName': 'Los Angeles',
  'officialSiteUrl': 'http://www.lakings.com/',
  'franchiseId': 14,
  'active': True},
 {'id': 28,
  'name': 'San Jose Sharks',
  'link': '/api/v1/teams/28',
  'venue': {'name': 'SAP Center at San Jose',
   'link': '/api/v1/venues/null',
   'city': 'San Jose',

In [ ]:
df

                         time
0  2021-11-28 17:00:03.253055
1                        time
2  2021-11-28 21:54:35.132315
3                        time
4  2021-11-28 22:01:12.797273
5  2021-11-28 22:08:09.108008

In [ ]:
try:
    cur.execute("""
    SELECT version()
    """
    )
    # print(cur.fetchall())
except Exception as e:
    print(e)

In [ ]:
df.shape

(1, 2)

In [ ]:
cf_url = 'https://www.capfriendly.com/teams/flames'
s_url = 'https://www.spotrac.com/nhl/calgary-flames/'

In [ ]:
flames = pd.read_html(s_url)

In [ ]:
print(type(flames))

<class 'list'>

In [ ]:
flames[2]

,Center,Pos.,2021,2022,2023,2024,2025
0,Sean Monahan,C,"$6,375,000","$6,375,000",UFA,NaN,NaN
1,Mikael Backlund,C,"$5,350,000","$5,350,000",NaN,UFA,NaN
2,Blake Coleman,C,"$4,900,000","$4,900,000","$4,900,000","$4,900,000","$4,900,000"
3,Elias Lindholm,C,"$4,850,000","$4,850,000","$4,850,000",UFA,NaN
4,Dillon Dube,C,"$2,300,000","$2,300,000","$2,300,000",RFA,NaN
5,Adam Ruzicka,C,"$801,666",RFA,NaN,NaN,NaN
6,Trevor Lewis,C,"$800,000",UFA,NaN,NaN,NaN

In [ ]:
for i in range(len(flames)):
    print(flames[i])

               Unnamed: 0         2021         2022         2023         2024  \
0   Total Cap Allocations  $82,198,416  $52,902,500  $32,050,000  $15,450,000
1          Signed Players           26           13            8            3
2                Forwards  $50,071,240  $29,852,500  $12,050,000   $4,900,000
3              Defensemen  $22,750,000  $15,550,000  $14,000,000   $4,550,000
4             Goaltending   $6,750,000   $6,750,000   $6,000,000   $6,000,000
5         Injured Reserve   $2,596,750          NaN          NaN          NaN
6               Suspended          NaN          NaN          NaN          NaN
7  Buried/Buyout/Dead Cap   $1,500,000          NaN          NaN          NaN

          2025
0  $15,450,000
1            3
2   $4,900,000
3   $4,550,000
4   $6,000,000
5          NaN
6          NaN
7          NaN
           Left Wing Pos.        2021        2022 2023  2024  2025
0    Matthew Tkachuk   LW  $7,000,000         RFA  NaN   NaN   NaN
1    Johnny Gaudreau   LW  $6,750,000         UFA  NaN   NaN   NaN
2        Milan Lucic   LW  $6,000,000  $6,000,000  UFA   NaN   NaN
3  Andrew Mangiapane   LW  $2,425,000         RFA  NaN   NaN   NaN
            Center Pos.        2021        2022        2023        2024  \
0     Sean Monahan    C  $6,375,000  $6,375,000         UFA         NaN
1  Mikael Backlund    C  $5,350,000  $5,350,000         NaN         UFA
2    Blake Coleman    C  $4,900,000  $4,900,000  $4,900,000  $4,900,000
3   Elias Lindholm    C  $4,850,000  $4,850,000  $4,850,000         UFA
4      Dillon Dube    C  $2,300,000  $2,300,000  $2,300,000         RFA
5     Adam Ruzicka    C    $801,666         RFA         NaN         NaN
6     Trevor Lewis    C    $800,000         UFA         NaN         NaN

         2025
0         NaN
1         NaN
2  $4,900,000
3         NaN
4         NaN
5         NaN
6         NaN
        Right Wing Pos.        2021 2022  2023  2024  2025
0    Tyler Pitlick   RW  $1,750,000  UFA   NaN   NaN   NaN
1     Troy Brouwer   RW  $1,500,000  NaN   NaN   NaN   NaN
2    Brett Ritchie   RW    $900,000  UFA   NaN   NaN   NaN
3  Brad Richardson   RW    $800,000  UFA   NaN   NaN   NaN
          Defenseman Pos.        2021        2022        2023        2024  \
0       Noah Hanifin    D  $4,950,000  $4,950,000  $4,950,000         UFA
1   Rasmus Andersson    D  $4,550,000  $4,550,000  $4,550,000  $4,550,000
2        Chris Tanev    D  $4,500,000  $4,500,000  $4,500,000         UFA
3     Nikita Zadorov    D  $3,750,000         UFA         NaN         NaN
4    Erik Gudbranson    D  $1,950,000         UFA         NaN         NaN
5     Juuso Valimaki    D  $1,550,000  $1,550,000         RFA         NaN
6  Johannes Kinnvall    D    $925,000         RFA         NaN         NaN
7   Oliver Kylington    D    $750,000         RFA         NaN         NaN

         2025
0         NaN
1  $4,550,000
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
       Goaltending Pos.        2021        2022        2023        2024  \
0  Jacob Markstrom    G  $6,000,000  $6,000,000  $6,000,000  $6,000,000
1    Tyler Parsons    G    $771,750         RFA         NaN         NaN
2    Daniel Vladar    G    $750,000    $750,000         RFA         NaN

         2025
0  $6,000,000
1         NaN
2         NaN
Empty DataFrame
Columns: [Unnamed: 0, Pos., 2021, 2022, 2023, 2024, 2025]
Index: []

In [ ]:
flames[]

IndexError: list index out of range

In [ ]:
flames_df = pd.DataFrame(flames[1])

In [ ]:
flames_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"FORWARDS (13 - $49,351,666)","FORWARDS (13 - $49,351,666)",YEARS REMAINING,TERMS,POS,STATUS,ACQUIRED,AGE,CAP%,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27
1,"Tkachuk, Matthew","Tkachuk, Matthew",1 RFA,NaN,"LW, RW",NHL,Draft,23,8.6,"$7,000,000$7,000,000$9,000,000$9,000,000$0$0",RFA,NaN,NaN,NaN,NaN
2,"Gaudreau, Johnny","Gaudreau, Johnny",1 UFA,M-NTC,LW,NHL,Draft,28,8.3,"$6,750,000$6,750,000$6,750,000$6,750,000$0$0M-NTC",UFA,NaN,NaN,NaN,NaN
3,"Monahan, Sean ""A""","Monahan, Sean ""A""",2 UFA,M-NTC,C,NHL,Draft,27,7.8,"$6,375,000$6,375,000$6,125,000$6,125,000$0$0M-NTC","$6,375,000$6,375,000$6,000,000$6,000,000$0$0M-NTC",UFA,NaN,NaN,NaN
4,"Backlund, Mikael ""A""","Backlund, Mikael ""A""",3 UFA,M-NTC,C,NHL,Draft,32,6.6,"$5,350,000$5,350,000$5,350,000$5,350,000$0$0M-NTC","$5,350,000$5,350,000$5,350,000$5,350,000$0$0M-NTC","$5,350,000$5,350,000$5,350,000$5,350,000$0$0M-NTC",UFA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,GOALIES (2),GOALIES (2),YEARS REMAINING,TERMS,POS,STATUS,ACQUIRED,AGE,CAP%,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27
96,"Wolf, Dustin","Wolf, Dustin",3 RFA,ELC,G,Minor,Draft,20,-,"$813,333$825,000$70,000$70,000$20,000$82,500","$813,333$825,000$70,000$70,000$0$85,000","$813,333$825,000$70,000$70,000$15,000$0",RFA,NaN,NaN
97,"Werner, Adam","Werner, Adam",1 RFA,NaN,G,Minor,Signed,24,-,"$750,000$750,000$100,000$100,000$0$0",RFA,NaN,NaN,NaN,NaN
98,TOTAL,TOTAL,NaN,NaN,NaN,NaN,NaN,22.0,-,"$1,563,333$1,575,000$170,000$170,000$20,000$82...","$813,333$825,000$70,000$70,000$0$85,000","$813,333$825,000$70,000$70,000$15,000$0",NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN